.gallery {
  width: 100vw;
  height: 100vh;
  background: url('../static/BG_Home.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;

  &--slider {
    margin-bottom: 10vh;
  }

  &--button {
    justify-self: flex-end;
    cursor: pointer;
  }

  &--exit {
    position: absolute;
  }

  &--image {
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover !important;
  }
}

@media screen and (max-width: 1000px) {
  .gallery--scroll {
    position: fixed !important;
  }
  .gallery {
    height: auto;
    width: auto;
    background: white;
    padding:0;
    &--scroll {
      position: fixed;
      z-index: 10;
      bottom: 30px;
      right: 30px;
    }
    &--mobile {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__header {
        display: flex;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 30px;
        justify-content: center;
        align-content: center;
      }
    }
  }
}
