.it-header {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 90px;

    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    top:0;
    width: 100%;
    font-weight: bold;

    &--link {
        font-size: 20px;
        color: white !important;
        text-decoration: none;
    }

    .nuxt-link-active {
        border-bottom: white solid;
    }
}

.dark {
  .it-header--link {
    color: #406237 !important;
  }

  .nuxt-link-active {
    border-bottom: #253322 3px solid;
    color: #253322 !important;
  }
}

@media screen and (max-width: 1000px) {
  .nuxt-link-active {
    border-bottom: #19231B solid;
    color:#19231B !important;
  }

  .burger-menu-btn {
    cursor: pointer;
  }

  .absolute-icon {
    position: absolute !important;
    right: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
  }
  .it-header {
    position: relative;
    background: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    img {
      max-height: 90px;
    }

    &--link-mobile {
      font-size: 30px;
      color: #406237 !important;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 5%;

    }

    &--mobile {
      background: white !important;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 75px;


      img {
        max-height: 120px;
        max-width: 120px;
        margin-bottom: 10%;
      }

    }
  }

  .it-header--link {
    display: none;
  }
}
