.home {
  height: 100%;
  width: 100%;
  &--first_section {
    width: 100vw;
    height: 100vh;
    background: url('../static/BG_Home.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &--left_header {
    height: 100%;
    width: 50%;
    background: rgba(#FFF, 0.4);
    box-shadow: 0px 3px 6px #0000009E;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 5vw;
      font-weight: 900;
      text-shadow: 5px 0px 6px rgba(150, 150, 150, 0.62);
      color: white;
      opacity: 100%;
    }
  }

  &--right_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;

    p {
      padding-left: 25px;
      padding-top: 150px;
      font-size: 6vw;
      font-weight: bolder;
      opacity: 0.57;
    }
  }

  &--bottom_navigator {
    position: absolute !important;
    bottom: 45px;
    right: 50%;
    transform: translateX(50%) scale(2.5);
    cursor: pointer;
  }

  &--second_section {
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
  }

  &--bottom_layout {

  }

  &--bottom_header {
    grid-area: header;
    color: black;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: bold;
      padding-top: 50px;
      font-size: 60px;
    }
  }

  &--bottom_content-wrapper {
    display: flex;
    width: 100vw;
    color: black;
    font-size: 26px;
    font-weight: bolder;
    padding: 70px;
  }

  &--bottom_content {
    display: flex;
    flex-direction: row;
    background: #F2EBEF;
    padding: 75px;
    position: relative;
    height: 85vh;
    width: 100vw;

    &__text {
      display: flex;
      flex-direction: column;
      max-width: 60vw;
      height: 100%;
      justify-content: space-between;
      z-index: 10;
    }

    &__img {
      right: 0;
      top: 0;
      position: absolute;

      img {
        max-height: 85vh;
      }
    }
  }
  &--upper-color {
    background: white;
    height: 40%;
  }

  &--bottom-color {
    background: #CDDAAE;
    height: 60%;
  }
}

.visible-mobile {
  display: none !important;
}

.visible-desktop {
  display: block;
}
@media screen and (max-width: 1000px) {
  .home {
    &--first_section {
      flex-direction: column;
      height: 65vh;
    }
    &--left_header {
      height: 100%;
      width: 100%;
      background: none;
      box-shadow: none;
      align-items: flex-end;
      p {
        font-size: 58px;
        position: relative;
        &:before {
          content: "";
          width: 75%;
          height: 2px;
          position: absolute;
          border: 1px solid white;
          top: -20px;
          transform: translateX(15%);
        }
      }
    }

    &--right_header {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      p {
        position: relative;
        padding:0;
        font-size: 70px;
        font-weight: bolder;
        color:white;
        opacity: 100%;
        &:before {
          content: "";
          width: 75%;
          height: 2px;
          position: absolute;
          border: 1px solid white;
          bottom: -20px;
          transform: translateX(15%);
        }
      }
    }
  }
  .home--bottom_header {
    height: 20vh;
    p {
      font-size: 40px;
    }
  }
  .home--bottom_content-wrapper {
    font-size: 16px;
  }

  .home--bottom_content {
    padding: 15px;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .home--bottom_content__text {
    justify-content: flex-start;
    align-items: center;
    width: 100% !important;
    max-width: max-content;
    p {
      text-align: center;
    }
  }

  .home--bottom_content__img {
    position: relative;
    img {
      height: 70vh;
    }
  }
  .home--second_section {
    height: auto;
  }

  .visible-mobile {
    display: block !important;
  }
  .visible-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .home--bottom_content-wrapper {
    padding: 10px;
  }
  .home--bottom_header {
    p {
      font-size: 30px;
    }
  }
}
